
extends layout

block append vars
  - bodyclass = 'article-detail'

block append vars
  - bodyclass += ' ' + page.metadata.theme

block prepend title
  | #{ page.title + ' - '}

block header
  include author
  h1= page.title
  p.author
    | #{ 'Written by ' }
    +author(page.metadata.author)

block content
  article.article
    section.content!= page.html

block prepend footer
  div.nav
    a(href=contents.index.url) &laquo; Home
  div#disqus_thread
  script(type='text/javascript').
      var disqus_config = function () {
        this.page.url = '#{locals.hosturl + page.url}';
        this.page.identifier = '#{page.title}';
      };
      (function() {
        var dsq = document.createElement('script'); 
        dsq.type = 'text/javascript'; 
        dsq.async = true;
        dsq.src = 'https://rahulsrma26-github-io.disqus.com/embed.js';
        dsq.setAttribute('data-timestamp', +new Date());
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
      })();
  noscript
      | Please enable JavaScript to view the
      a(href='http://disqus.com/?ref_noscript') comments powered by Disqus.
