
extends layout

block menu
  +menu('index')

block content
  include author
  each article in articles
    article.article.intro
      header
        p.date
          span= moment.utc(article.date).format('DD. MMMM YYYY')
        h2
          a(href=article.url)= article.title
      section.content
        if article.intro.length > 0
          != article.intro
        if article.hasMore
          div.into-footer
            div.more.float-left
              a(href=article.url) more...
            div.comments.float-right
              i.fa.fa-comments-o
                a(href=locals.hosturl + article.url + "#disqus_thread", data-disqus-identifier=article.title).margin-left-10
                  | Comments

block prepend footer
  script#dsq-count-scr(src='//rahulsrma26-github-io.disqus.com/count.js', async='')
  div.nav
    if prevPage
      a(href=prevPage.url) &laquo; Newer
    else
      a(href='/archive.html') &laquo; Archives
    if nextPage
      a(href=nextPage.url) Next page &raquo;
